<h1 align="center">Big Cell</h1><br>

<h3 align="center"> <%= link_to 'Pagina de clientes', clientes_path %> </h3>

<h3 align="center"> <%= link_to 'Pagina de pedidos', pedidos_path %> </h3>

<h3 align="center"> <%= link_to 'Pagina de produtos', produtos_path %> </h3>

<h3 align="center"> <%= link_to 'Pagiana de vendas ', vendas_path %> </h3>